@font-face {
    font-family: "Hey Gorgeous";
    src: url("fonts/heygorgeous-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Altima";
    src: url("fonts/altima-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bree Serif";
    src: url("fonts/breeserif-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Reactor7";
    src: url("fonts/reactor7-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
    header {
        background-color: #492837;
        color: white;
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        height: 12vh;
        overflow: clip;
    }

        header img#homeButton {
            cursor: pointer;
            object-fit: contain;
            position: relative;
            max-width: 100%;
            max-height: 13vh;
            height: auto;
            transition: opacity 0.3s;
        }

            header img#homeButton:hover {
                opacity: .7;
            }

        header h2 {
        font-size: 3.25rem;
        -webkit-text-stroke: .80px black;
        }

            nav ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
            }

            nav li {
                padding: 0 10px;
            }

            nav a.header-button {
                text-decoration: none;
                color: #ffead4;
                background-color: #2f2542;
                padding: 20px 25px;
                border-radius: 8px;
                transition: background-color 0.3s;
                font-size: 2.45rem;
            }

                nav a.header-button:hover {
                    background-color: #413a70;
                }

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: url(./logo.new.old.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        background-color: #322e3b;
    }

        #landing-container {
            text-align: center;
            padding: 50px;
        }

            #landing-container h1 {
                font-family: "Hey Gorgeous";
                color: #fff;
                font-size: 3.6rem;
                margin-top: 9%;
                margin-bottom: 8%;
                -webkit-text-stroke: 3px black;
                line-height: 2.5;
            }

            #landing-container img {
                /*margin: 0 auto;*/
                max-width: 10%;
                height: auto;
            }

            #landing-buttons {
                display: flex;
                justify-content: center;
                margin-top: 10%;
                gap: 10%;

            }

                #landing-buttons button {
                    color: #ffead4;
                    background-color: #5d2033;
                    margin: 0 50px;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-size: 3rem;
                    font-family: "Bree Serif";
                    cursor: pointer;
                    transition: background-color .5s;
                }

                    #landing-buttons button:hover {
                        background-color: #9d2a4e;
                    }
