@font-face {
    font-family: "Hey Gorgeous";
    src: url("./webfontkit-20231215-184608/heygorgeous-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Altima";
    src: url("./webfontkit-20231215-184608/altima-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bree Serif";
    src: url("./webfontkit-20231215-184608/breeserif-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Reactor7";
    src: url("./webfontkit-20231215-184608/reactor7-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    height: 12vh;
}

header img#homeButton {
    cursor: pointer;
    object-fit: contain;
    position: relative;
    max-width: 100%;
    max-height: 10vh;
    height: auto;
    transition: opacity 0.3s;
}

header img#homeButton:hover {
    opacity: .7;
}

header h2 {
    font-size: 3.25rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

nav li {
    padding: 0 10px;
}

nav a.header-button {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a.header-button:hover {
    background-color: #777;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#action-container {
    flex-grow: 1;
    margin: 6% 12% 12% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ff75b6 12px solid;
    border-radius: 24px;
    box-sizing: border-box;
    gap: 15%;
    max-height: 100vh;
    position: relative;
    width: 80%;
}

#login-container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px;
    font-family: "Bree Serif";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

#login-container h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10%;
    font-family: "Hey Gorgeous";
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 6%;
}

#login-form label {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

#login-form input {
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Reactor7;
}

#login-form button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bree Serif";
    font-size: 2rem;
    transition: background-color 0.5s;
}

#login-form button:hover {
    background-color: #777;
}

#line {
    border-left: #ad64ff 6px solid;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#register-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: calc(14.5% / 2);
    text-align: center;
    padding: 20px;
    font-family: "Bree Serif";
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

#register-container h1 {
    font-size: 3rem;
    margin-top: 1%;
    margin-bottom: 6%;
    font-family: "Hey Gorgeous";
}

#register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#register-form label {
    font-size: 1.75rem;
    margin-bottom: 10px;
    grid-column: 1 / 2;
}

#register-form input {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Reactor7;
    grid-column: 2 / 3;
}

#register-form button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bree Serif";
    font-size: 2rem;
    transition: background-color 0.5s;
}

#register-form button:hover {
    background-color: #777;
}

#login-error-message {
    color: #d71111;
    font-size: .95rem;
    margin: 0 auto;
    /*margin-top: 10px;*/
    height: 3rem;
    min-width: 50%;
    width: calc(100% - 20px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /*overflow: hidden;*/
    /*pointer-events: none;*/
}

#register-error-message {
    color: #d71111;
    font-size: .95rem;
    margin-top: 10px;
    height: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /*overflow: hidden;*/
    /*pointer-events: none;*/
}

#login-error-message.error-visible, #register-error-message.error-visible {
    opacity: 1 ;
    visibility: visible ;
}
