@font-face {
    font-family: "Hey Gorgeous";
    src: url("fonts/heygorgeous-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Altima";
    src: url("fonts/altima-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bree Serif";
    src: url("fonts/breeserif-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Reactor7";
    src: url("fonts/reactor7-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: #492837;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    height: 12vh;
    overflow: clip;
}

header img#homeButton {
    cursor: pointer;
    object-fit: contain;
    position: relative;
    max-width: 100%;
    max-height: 13vh;
    height: auto;
    transition: opacity 0.3s;
}

header img#homeButton:hover {
    opacity: .7;
}

header h2 {
    font-size: 3.25rem;
    -webkit-text-stroke: .80px black;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

nav li {
    padding: 0 10px;
}

nav a.header-button {
    text-decoration: none;
    color: #ffead4;
    background-color: #2f2542;
    padding: 12px 25px;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 2.45rem;
}

nav a.header-button:hover {
    background-color: #413a70;
}

#header-welcome-message {
    position: absolute;
    top: .5%;
    right: 2%;
    font-size: 1.5rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./logo.new.old.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: #322e3b;
    background-attachment: fixed;
}

#add-media-button-container {
    position: relative;
    width: 100%;
    height: 5%;
}

#add-media-button {
    font-family: "Bree Serif";
    position: absolute;
    background-color: #36205d;
    color: #ffead4;
    cursor: pointer;
    padding: 15px;
    width: 7.5%;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: #652a9d 3px solid;
    font-size: 1.25rem;
    margin: 2% auto;
    box-sizing: border-box;
    transition: background-color 0.5s;
    top: 10%;
    right: 3%;
}

#add-media-button:hover {
    background-color: #652a9d;
}

.collapsible {
    background-color: #5d2033;
    color: #ffead4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: #9d2a4e 3px solid;
    font-size: 15px;
    margin: 2% auto;
    box-sizing: border-box;
    transition: background-color 0.5s;
}

.active, .collapsible:hover {
    background-color: #9d2a4e;
}

.content {
    color: #ffead4;
    width: 95.5%;
    display: none;
    left: 0;
    background-color: #453d57;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: margin-bottom 0.2s ease-out;
    padding: 14px 18px;
    overflow: hidden;
    max-height: 40%;
    font-size: 1.25rem;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    max-height: 100vh;
}

#all-media-container {
    margin: 1% auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#media-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: .3px black;
    gap: 1%;
}

#media-form input, #media-form select, #media-check-status {
    margin-right: .5%;
    margin-left: .5%;
    font-size: 1.35rem;
    padding: 5px;
    border-radius: 7.5%;
    opacity: .8;
}

#media-form input[type=checkbox] {
    width: 220px;
    height: 220px;
    border-radius: 3%;
    opacity: .8;
}

#media-form button {
    margin-right: .5%;
    margin-left: .5%;
    font-size: 1.30rem;
    padding: 15px;
    border-radius: 10%;
    background-color: #204d5d;
    border: #2b6f79 3px solid;
    color: #ffead4;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    font-weight: bold;
}

#media-form button:hover {
    background-color: #2b6f79;
}

#movie-container, #show-container, #music-container, #book-container, #audiobook-container, #other-container {
    width: 48%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    display: block;
}

.media-type-container {
    width: 49%;
    margin-bottom: 1%;
    display: block;
    box-sizing: border-box;
    /*justify-content: center;*/
}

.collapsible-container {
    width: 100%;
    display: block;
    position: relative;
}

.collapsible-container button {
    font-family: "Bree Serif";
    font-size: 1.5rem;
}

.movie-card, .show-card, .music-card, .book-card, .audiobook-card, .other-card {
    background-color: #302b3d;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.58);
    transition: 0.3s;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto auto 3.5%;
    position: relative;
}

.movie-card img, .show-card img, .music-card img, .book-card img, .audiobook-card img, .other-card img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.delete-button {
    background-color: #2f2542;
    color: #ff9cb3;
    border-radius: 5px;
    margin: auto auto 4%;
    padding: 7px 12px;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #2f2542;
    color: #9cd9ff;
    border-radius: 5px;
    margin: auto auto 4%;
    padding: 7px 12px;
    transition: background-color 0.3s;
}

.delete-button:hover, .edit-button:hover {
    cursor: pointer;
    background-color: #534275;
}

.media-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1%;
    width: 80%;
}

.checked-media-card {
    /*background-color: #5c3e8d;*/
    background-color: #ffae3b;

}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.status-untouched {
    background-color: #e06666;
}

.status-complete {
    background-color: #00ff00;
}

.status-complete-low-quality {
    background-color: #4a86e8;
}

.status-unfinished-still-airing {
    background-color: #ffff00;
}

.status-unfinished-incomplete {
    background-color: #ff00ff;
}

.status-unreleased {
    background-color: #46bdc6;
}

.status-white-whale {
    background-color: #d9d9d9;
}

.media-edit-form {
    color: white;
}

.media-type-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.media-type-movie {
    background-color: #bd8bff;
}

.media-type-show {
    background-color: #ff617e;
}

.media-type-music {
    background-color: #1dacd6;
}

.media-type-audiobook {
    background-color: #ffbd88;
}

.media-type-book {
    background-color: #30ba8f;
}

.media-type-other {
    background-color: #ff7f49;
}

#all-media-container .status-circle {
    top: 35px;
    right: 10px;
}

